services:
  # Web Service (Django + Gunicorn)
  - type: web
    name: acme-ch-web
    runtime: image
    image:
      url: nuonfred/acme-ch-control-plane:latest
    envVars:
      - key: DEBUG
        value: false
      - key: SECRET_KEY
        sync: false
      - key: ALLOWED_HOSTS
        sync: false
      - key: WEB_SERVICE_DOMAIN
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: acme-ch-db
          property: connectionString
      - key: REDIS_URL
        fromService: # Reference a property from another service (see available properties below)
          type: keyvalue
          name: acme-ch
          property: connectionString
      - key: NUON_API_URL
        value: https://api.nuon.co
      - key: NUON_API_TOKEN
        sync: false
      - key: NUON_ORG_ID
        sync: false
      - key: NUON_APP_ID
        sync: false
    healthCheckPath: /livez
    autoDeploy: false  # Set to true if you want auto-deploy on new image tags
    preDeployCommand: uv run -- python manage.py migrate
    dockerCommand: "uv run -- gunicorn acme_ch.wsgi:application --bind 0.0.0.0:$PORT"
  # Celery Worker Service
  - type: worker
    name: acme-ch-worker
    runtime: image
    image:
      url: nuonfred/acme-ch-control-plane:latest
    dockerCommand: uv run -- celery -A acme_ch worker --beat --loglevel=info
    plan: standard
    envVars:
      - key: DEBUG
        value: false
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: acme-ch-db
          property: connectionString
      - key: REDIS_URL
        fromService: # Reference a property from another service (see available properties below)
          type: keyvalue
          name: acme-ch
          property: connectionString
      - key: NUON_API_URL
        value: https://api.nuon.co
      - key: NUON_API_TOKEN
        sync: false
      - key: NUON_ORG_ID
        sync: false
      - key: NUON_APP_ID
        sync: false
      - key: ALLOWED_HOSTS
        value: "*"
      - key: WEB_SERVICE_DOMAIN
        sync: false
    autoDeploy: false

  # keyvalue aka redis
  - type: keyvalue
    name: acme-ch
    ipAllowList: [] # only allow internal connections
    maxmemoryPolicy: allkeys-lru


databases:
  # postgresql database
  - name: acme-ch-db
    databaseName: acme_ch
    plan: basic-256mb
    ipAllowList: []
