#:schema https://api.nuon.co/v1/general/config-schema?source=kubernetes-manifest
name      = "storage_class"
type      = "kubernetes_manifest"
namespace = "default"

manifest = "./manifests/storage_class.yaml"
